.icon {
    display: flex;
    height: 16px;
    width: 16px;
    user-select: none;
    -webkit-user-select: none;
    filter: none;
}

@media (prefers-color-scheme: dark) {
    .icon {
        filter: invert(70%);
    }
}
